.statistics__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.statistics__item {
  background: rgb(61, 61, 102);
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.statistics__item:hover {
  background: transparent;
  border-color: green;
}
.statistics__item-image {
  border-radius: 1rem;
  overflow: hidden;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */

@media screen and (max-width: 1024px) {
  .statistics__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}
/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  .statistics__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
