#about {
  background-color: rgb(31, 31, 56);
  padding: 50px 0;
  text-align: center;
}

.about h5 {
  color: #dad4d4;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 1rem;
}

.about h2 {
  color: #41e873;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.about__me {
  width: 100%;
  max-width: 340px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 2px solid rgb(30, 255, 0);
  border-radius: 1rem;
  padding: 1rem;
  /* transform: rotate(2deg); */
}

.home-img img:hover {
  /* transform: rotate(0); */
  margin: auto;
}
.home-img img {
  max-width: 100%;
  height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* transform: rotate(5deg); */
  border-radius: 1rem;
}

#user-detail-intro {
  max-width: 600px;
  text-align: left;
  margin-bottom: 30px;
  /* border: 1px solid red;  */
  padding: 1rem;
  border-radius: 20px;
}

#user-detail-intro p {
  font-size: 22px;
  line-height: 1.5;
  color: #ffffff;
}

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* For screens smaller than 576px */
@media (max-width: 575.98px) {
  .about h2 {
    font-size: 24px;
  }

  .about__container {
    flex-direction: column;
    padding: 1rem;
  }

  .about__me {
    margin-right: 0;
    width: 80%;
  }

  .home-img img {
    height: 300px;
    width: 100%;
  }

  #user-detail-intro {
    max-width: 100%;
  }

  .btn-primary {
    font-size: 14px;
  }
}

/* For screens between 576px and 991.98px */
@media (min-width: 576px) and (max-width: 991.98px) {
  .about h2 {
    font-size: 24px;
  }

  .about__me {
    max-width: 250px;
  }

  .home-img img {
    height: 300px;
  }

  #user-detail-intro {
    max-width: 400px;
  }
}

/* For screens between 992px and 1199.98px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about h2 {
    font-size: 28px;
  }

  .about__me {
    max-width: 300px;
  }

  .home-img img {
    height: 350px;
  }

  #user-detail-intro {
    max-width: 500px;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1200px) {
  .about h2 {
    font-size: 30px;
  }

  .about__me {
    max-width: 340px;
  }

  .home-img img {
    height: 400px;
  }

  #user-detail-intro {
    max-width: 600px;
  }
}
