/* Default styles */
#contact {
  background-color: rgb(31, 31, 56);
  padding: 50px 0;
  text-align: center;
  height: 80vh;
}

#contact h5 {
  color: #dad4d4;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 5rem;
}

#contact h2 {
  color: #41e873;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  
}
.contact__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  
}

.contact__option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__option-icon {
  font-size: 48px;
  margin-bottom: 10px;
  color: #a0fd43;
}

.contact__option h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffffff;
}

.contact__option a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.contact__option h4:hover {
    color: #77ff00;
  }
.contact__option a:hover {
  color: #77ff00;
}

#contact-phone {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

/* Media queries for smaller screens */
@media (max-width: 767px) {
  #contact h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .contact__option h4 {
    font-size: 18px;
  }

  .contact__option-icon {
    font-size: 36px;
  }

  #contact-phone {
    font-size: 20px;
  }
}

/* Media queries for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  #contact h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .contact__option h4 {
    font-size: 18px;
  }

  .contact__option-icon {
    font-size: 42px;
  }

  #contact-phone {
    font-size: 22px;
  }
}

/* Media queries for larger screens */
@media (min-width: 992px) {
  #contact h2 {
    font-size: 42px;
    margin-bottom: 60px;
  }

  .contact__option h4 {
    font-size: 20px;
  }

  .contact__option-icon {
    font-size: 48px;
  }

  #contact-phone {
    font-size: 24px;
  }
}

/* Form */
.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  margin: auto;
  margin-top: 3rem;

}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}
