@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(31, 31, 56);
}

.nav-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#nav-menu {
  height: 60px;
  background-color: rgb(31, 31, 56);
  position: relative;
  /* border: 1px solid red; */
  width: 100%;
  z-index: 1;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#nav-menu:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.logo {
  font-size: 2rem;
  /* margin-right: 5%; */
  /* border: 1px solid red; */
  color: rgb(151, 234, 119);
}

.menu-icon {
  display: none;
  /* background-color: rgb(31, 31, 56); */
  /* border: 1px solid red; */
  color: white;
  font-size: 20px;
}

.nav-elements {
  text-align: center;
  /* background-color: rgb(31, 31, 56); */
  /* border: 1px solid red; */
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.nav-elements ul a:hover {
  color: #7af31d;
}
.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgb(31, 31, 56);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
