.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  
  .portfolio__item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: start;
    /* color: black */
  }
  .portfolio__item:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    color: white;
  }
  .portfolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
  }
  .portfolio__item h3 {
    margin: 1.2rem 0 1rem;
  }
  .portfolio__item h5 {
    margin: 0rem 0 0.5rem;
  }
  .portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
  
  @media screen and (max-width: 1024px) {
    .portfolio__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
    }
  }
  /* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
  @media screen and (max-width: 600px) {
    .portfolio__container {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
  