footer {
  width: 100%;
  background: rgb(179, 217, 122);
  text-align: center;
  z-index: 1;
  position: fixed;
  padding: 1rem;
}
footer a {
  color: var(--color-bg);
}
.footer__logo {
  font-style: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  display: block;
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 0rem;
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

.btnnav {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 1rem;
  color: #000;
  font-size: 2rem;
  display: block;
  background-color: rgb(180,217,122);
  cursor: pointer;
}
.btnnav:hover{
  color: whitesmoke;
}
/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

}


/* ************* */
